body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultado por defecto */
    position: fixed;
    /* Fijo en la pantalla */
    z-index: 1;
    /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    overflow: auto;
    /* Agregar scroll si es necesario */
    background-color: rgb(0, 0, 0);
    /* Fondo negro */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
